body {
    background-color: black;

    color: whitesmoke;
}

section {
    background-color: darkgray;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.MargemTitulo {
    margin: 6%;
}

header {
    margin: 5%;
    font-size: 20px;
    text-align: center;
}

header {
    text-align: center;
    @media screen and (max-width: 480px){
        .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
            width: auto;
        }
    
        h1{
            text-align: center;
        }
    
        nav{
            position: static;
            text-align: center;
        }
    
        .lista-beneficios, .imagem-beneficios{
            width: 100%;
        }
